.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.box {
  background-color: rgb(168, 225, 225);
  padding: 20px;
  font-family: calibri;
  font-size: 20px;
}
input {
  width: 60%;
  padding: 7px;
}
button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: rgb(63, 63, 245);
  color: white;
  font-family: calibri;
  font-size: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
button:hover {
  transform: scale(1.2);
}
